.contact {
  background-color: #1B3B6F;
  padding: 15px;
  margin-top: 95px;
  border-radius: 4px;
  margin-left: 10px;
}

.contact ul {
  list-style-type: none;
}

.contact li a {
  color: white;
}
.contact i {
  color: white;
}
.contact p {
  color: white;
}
.contact h1 {
  color: white;
}
.contact li {
  color: white;
}




