---
title: Frederic WIBAUX, About me
description: Frederic WIBAUX, a brief introduction ;)
---

<div class="well well-lg">
  <div class="row text-center">
    <h2>About me</h2>
  </div>
  <div class="left-align">
    <p>
      I started working in 2000 as sales assistant for one of the european remarketing distributor for professionnal IT equipment (<%= link_to "IB Remarketing", "http://www.ibremarketing.com", target: "_blank" %>). After a few months, I developped the first sales and customers for Sun Microsystems equipment and became officially Account manager. Then, my boss asked me to build a team of sales and technicians to push further the development of this newly created business unit. Quickly we were 10 guys focusing on Sun Microsystems sales and tech challenges.
    </p>
    <p>
      We, with the service manager, began working, on the support and maintenance offer - one of the key turn the company was aiming for. In 2011, Sun microsystems sales (servers, workstations, storage and spare parts) represented 20% of the global IB Remarketing revenu and 70% of the signed support contracts were for Sun microsystems equipment.
    </p>
    <p>
      I was then offered a new challenge and mission ! Develop the e-commerce of IB Remarketing group. I, then launched in May 2012 <%= link_to "Re-Shop.com", "https://web.archive.org/web/20131021041244/http://www.re-shop.com/fr/", target: "_blank" %>. We acquired 100+ new customers.
    </p>
    <p>
      After different missions as consultant for Microsoft and multiple events, I founded <%= link_to "Revalue Your IT", "http://www.RevalueYourIT.com", target: "_blank" %> to help companies revalue to the best possible offer their obsolete IT equipment.
    </p>
  </div>

</div>
