---
title: Frederic WIBAUX, Projects

description: Frederic WIBAUX, A small view of my different projects, past, current, and future ones ;)
---

<div class="well well-lg">
  <div class="row text-center">
    <h2>Projects</h2>
  </div>
  <div class="row">
    <div class="left-align col-xs-12 col-md-8">
        <% link_to "https://web.archive.org/web/20131021041244/http://www.re-shop.com/fr/",target: "_blank", class: "navbar-wagon-brand" do %>
          <%= image_tag "Re-Shop.png" %>
        <% end %>
    </div>
    <div class="card right-align col-xs-12 col-md-4">
      <p>E-commerce platform of refurbished IT equipment specialised in spare parts and components : 3000 products advertised in 5 languages launched in May 2012</p>
    </div>
  </div>
</div>
